<%= form_for(@task, url: tasks_child_create_path(@task.mission.id)) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="title">タスク名</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="description">概要</label>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group input-group date datepicker">
    <label for="description">締め切り</label>
    <%= f.text_field :deadline_at, class: "form-control" %>
    <span class="input-group-addon">
  </div>

  <div class="form-group">
    <label for="description">状況</label>
    <%= f.select :status, Task.localized_statuses, {},class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="description">親タスク</label>
    <%= f.collection_select :parend_id, Task.where("mission_id = ?", @task.mission.id), :id, :title, {}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit "更新する", class: "btn btn-default" %>
  </div>
<% end %>
