<div class="main">
  <div class="container">
    <div class="page-header">
      <h2><%= @task.title %></h2>
    </div>
    <div class="well">
      <p><%= @task.description %></p>
    </div>
    <div class="row">
      <% @children.each do |task| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
						    <%= link_to task_path(task) do %>
                  <%= task.title %>
                <% end %>
                <span class="label label-danger">New</span>
              </h3>
            </div>
            <div class="panel-body">
              <p><%= task.description %></p>
            </div>
            <div class="panel-footer">
              <p>作成者: <%= task.user.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to '子タスクを追加', tasks_child_new_path(@task.id),  :class => 'btn btn-default' %>
    <%= link_to '編集', edit_task_path(@task),  :class => 'btn btn-default' %>
  </div>
</div>
