<div class="main">
  <div class="container">
    <div class="page-header">
      <h2><%= @task.title %></h2>
    </div>
    <div class="btn-group" role="group" style="margin-bottom: 20px">
      <%= link_to '子タスクを追加', tasks_child_new_path(@task.id),  :class => 'btn btn-default' %>
      <%= link_to '編集', edit_task_path(@task),  :class => 'btn btn-default' %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>ミッション概要</span>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= @task.description %></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>子タスク一覧</span>
      </div>
      <table class="table table-striped">
        <tr>
          <th>タスク名</th>
          <th>概要</th>
          <th>作成者</th>
        </tr>
        <% @children.each do |task| %>
        <tr>
          <td>
            <%= link_to task_path(task) do %>
              <%= task.title %>
            <% end %>
          </td>
          <td>
            <p><%= task.description %></p>
          </td>
          <td>
            <p><%= task.user.name %></p>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
