<div class="main">
  <div class="container">
    <div class="page-header">
      <h2><%= @task.title %></h2>
    </div>
    <div class="btn-group" role="group" style="margin-bottom: 20px">
      <%= link_to '子タスクを追加', tasks_child_new_path(@task.id),  :class => 'btn btn-default' %>
      <%= link_to '編集', edit_task_path(@task),  :class => 'btn btn-default' %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>ミッション概要</span>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= @task.description %></p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>ミッションツリー</span>
        </h3>
      </div>
      <div class="panel-body">
        <div id="Tree"></div>
        <ul id="TreeSource" style="display: none">
          <!-- root -->
          <li>
            <%= @task.title %>
            <ul>
              <% @task.children.each do |task| %>
                <!-- child 1 -->
                <li>
                  <%= link_to task_path(task) do %>
                    <%= task.title %>
                  <% end %>
                  <ul>
                    <% task.children.each do |child1| %>
                      <li>
                        <%= link_to task_path(child1) do %>
                          <%= child1.title %>
                        <% end %>
                        <!-- child 2 -->
                        <ul>
                          <% child1.children.each do |child2| %>
                            <li>
                              <%= link_to task_path(child2) do %>
                                <%= child2.title %>
                              <% end %>
                              <!-- child 3 -->
                              <ul>
                                <% child2.children.each do |child3| %>
                                  <li>
                                    <%= link_to task_path(child3) do %>
                                      <%= child3.title %>
                                    <% end %>
                                    <!-- child 4 -->
                                    <ul>
                                      <% child3.children.each do |child4| %>
                                        <li>
                                          <%= link_to task_path(child4) do %>
                                            <%= child4.title %>
                                          <% end %>
                                        </li>
                                      <% end %>
                                    </ul>
                                    <!-- end child 4 -->
                                  </li>
                                <% end %>
                              </ul>
                              <!-- end child 3 -->
                            </li>
                          <% end %>
                        </ul>
                        <!-- end child 2 -->
                      </li>
                    <% end %>
                  </ul>
                </li>
                <!-- end child 1 -->
              <% end %>
            </ul>
          </li>
          <!-- end root -->
          </ul>
      </div>
    </div>
  </div>
</div>

<style>
.jOrgChart .node {
  background: #eee;
  padding: 6px;
  width: 120px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.jOrgChart .line {
  width: 2px;
  border-color: #eee;
}

.jOrgChart .down {
  width: 2px;
  background: #eee;
}
</style>

<script>
jQuery(document).ready(function() {
    $("#TreeSource").jOrgChart({
      "chartElement": "#Tree",
      "dragAndDrop": true
    })
})
</script>
