<div class="main">
  <div class="container">
    <h2 class="border-bottom border-white mb-4">パスワード再設定</h2>
    <div class="card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <label for="title">新しいパスワード (<%= @minimum_password_length %>文字以上)</label>
            <%= f.password_field :password, class: "form-control", autocomplete: "off", minlength: @minimum_password_length, placeholder: "新しいパスワード (#{@minimum_password_length}文字以上)", required: true %>
          </div>

          <div class="form-group">
            <label for="title">新しいパスワード確認</label>
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", minlength: @minimum_password_length, placeholder: "新しいパスワード (確認)", required: true %>
          </div>

          <div class="actions">
            <%= f.submit "変更する", class: "btn btn-success float-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>