<div class="main">
  <div class="container">
    <h2 class="border-bottom border-white mb-4">パスワード再設定</h2>
    <div class="card">

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <label for="title">メールアドレス</label>
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "メールアドレス", required: true%>
          </div>

          <div class="actions">
            <%= f.submit "パスワードを再設定する", class: "btn btn-primary" %>
          </div>
        <% end %>
        <hr>
        <%= link_to 'ログインする', new_user_session_path %>
      </div>
    </div>
  </div>
</div>

<!--
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
-->