<div class="main">
  <div class="container">

    <h2 class="border-bottom border-white mb-4"><span id="mission-title" class="h2"><%= @mission.title %></span> <span class="h5">#<%= @mission.id %></span></h2>

    <div class="row">
      <% if user_signed_in? %>
        <% if @mission.admins.include?(current_user)%>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to 'ミッションを編集', "#", :id => "DetailMissionModal", :style=>"width:100%;", :class => 'btn page-link text-dark d-inline-block' %>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to "ミッションを削除", "#", :id => "DeleteMissionModal",:style=>"width:100%;", :class => 'btn page-link text-dark d-inline-block' %>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to '参加者を編集', "#", :id => "DetailMissionParticipantsModal", :style=>"width:100%;", :class => 'btn page-link text-dark d-inline-block' %>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to '管理者を編集', "#", :id => "DetailMissionAdminsModal", :style=>"width:100%;", :class => 'btn page-link text-dark d-inline-block' %>
          </div>
        <%elsif @mission.participants.include?(current_user)%>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to 'ミッションから抜ける?', "#", :id => "ConfirmDeleteMissionParticipantModal", :style=>"width:100%;", :class => 'btn page-link text-dark d-inline-block' %>
          </div>
        <%else %>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to 'ミッションに参加してみる', "#", :id => "AddMissionParticipant",  :style=>"width:100%;", :class => 'btn page-link text-dark d-inline-block' %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        ミッション概要
      </div>
      <div class="card-body">
        <p id="mission-description" class="card-text"><%= @mission.description %></p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        ミッション管理者
      </div>
      <div id="ShowMissionAdmins" class="card-body">
        <% @mission.admins.each do |admin| %>
          <p data-admin_id="<%= admin.id %>"><%= admin.name %></p>
        <% end %>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        ミッション参加者
      </div>
      <div id="ShowMissionParticipants" class="card-body">
        <% @mission.participants.each do |participant| %>
          <p data-participant_id="<%= participant.id %>"><%= participant.name %></p>
        <% end %>
      </div>
    </div>
    <div class="panel panel-info mb-4">
      <div class="panel-body tree">
        <div id="chart-container"></div>
        <!-- <input type="hidden" id="selected-node"> -->
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if @mission.admins.include?(current_user)%>
    <%= render 'missions/modal/show/mission_admins/detailparticipants' %>
    <%= render 'missions/modal/show/mission_admins/detailadmins' %>
    <%= render 'missions/modal/show/missions/detailmission' %>
    <%= render 'missions/modal/show/missions/confirmdelete' %>
  <%elsif @mission.participants.include?(current_user)%>
    <%= render 'missions/modal/show/mission_participants/confirmdelete' %>
  <%end %>
  <%= render 'missions/modal/show/tasks/addtask' %>
  <%= render 'missions/modal/show/tasks/confirmdelete' %>
<%end %>
<%= render 'missions/modal/show/tasks/detailtask' %>

<script>
    const mission_id = <%= @mission.id %>;
    const lod = <%= @lod %>;
    <% if user_signed_in? %>
    <% if @mission.admins.include?(current_user)%>
    const mission_group = "admin";
    <% elsif @mission.participants.include?(current_user)%>
    const mission_group = "participant";
    <% else %>
    const mission_group = "viewer";
    <%end %>
    const user_signed_in = true;
    const user_id = <%= current_user.id %>;
    <% else %>
    const user_signed_in = false;
    const user_id = null;
    const mission_group = "viewer";
    <% end %>

    const lod_graph_uri = 'http://mf.srmt.nitech.ac.jp/tags/';
    const sparql_endpoint = 'http://lod.srmt.nitech.ac.jp/sparql/';
    let tasks, mission;

    function date_format2rails(datestring){
        if(moment(datestring,'MM/DD/YYYY HH:mm').isValid()){
            return moment(datestring,'MM/DD/YYYY HH:mm').utc().format();
        }else {
            return null
        }
    }

    $(document)
        .on('click', '.node', function() {
            selected_task = $(this);
        })
        .on('click', '.title', function() {
            tasks.drawDetailTask($(this).parent().attr('id'));
        })
        <% if user_signed_in? %>
        <% if @mission.admins.include?(current_user)%>
        .on('click', '#ToAddMissionAdmin', function () {
            let admin = {
                'mission_id' : mission_id,
                'name' : $('#AddMissionAdmin').val()
            };
            App.mission.send_add_mission_admin(admin);
        })
        .on('click', '.delete_mission_admin', function () {
            let admin = {
                'mission_id' : mission_id,
                'id': Number($(this).parent().attr('data-mission_admin'))
            };
            App.mission.send_delete_mission_admin(admin);
        })
        .on('click', '#DeleteMissionModal', function () {
            mission.drawDeleteMission();
        })
        .on('click', '#DeleteMission', function () {
            let mission = {
                'id' : mission_id
            };
            App.mission.send_delete_mission(mission);
        })
        .on('click', '#DetailMissionModal', function () {
            mission.drawDetailMission();
        })
        .on('click', '#ChangeMissionDetail', function () {
            let mission = {
                'id' : mission_id,
                'name' : $('#DetailMissionTitle').val(),
                'description' : $('#DetailMissionDescription').val()
            };
            App.mission.send_update_mission(mission);
        })
        .on('click', '#DetailMissionParticipantsModal', function () {
            mission.drawDetailMissionParticipants();
        })
        .on('click', '#ToAddMissionParticipant', function () {
            let participant = {
                'mission_id' : mission_id,
                'name' : $('#AddMissionParticipant').val()
            };
            App.mission.send_add_mission_participant(participant);
        })
        .on('click', '.delete_mission_participant', function () {
            let participant = {
                'mission_id' : mission_id,
                'id' : Number($(this).parent().attr('data-mission_participant'))
            };
            App.mission.send_delete_mission_participant(participant);
        })
        .on('click', '#DetailMissionAdminsModal', function () {
            mission.drawDetailMissionAdmins();
        })
        <% end %>
        <% if @mission.participants.include?(current_user)%>
        .on('click', '.add-button', function() {
            tasks.drawAddTask($(this).parent().attr('id'));
        })
        .on('click', '.delete-button', function() {
            tasks.drawDeleteTask($(this).parent().attr('id'));
        })
        .on('click', '#ToAddChild', function () {
            tasks.drawAddTask($('#DetailTaskID').text());
        })
        .on('click', '#ToDeleteTask', function () {
            tasks.drawDeleteTask($('#DetailTaskID').text());
        })
        .on('click', '#DeleteTask', function(){
            let task = {
                'id' : tasks.get_selected_task_id()
            };
            App.mission.send_delete_task(task);
        })
        .on('click', '#ChangeDetail', function(){
            let task = {
                'id' : tasks.get_selected_task_id(),
                'name' : $('#DetailTaskTitle').val(),
                'description' : $('#DetailTaskDescription').val(),
                'deadline_at' : date_format2rails($('#DetailTaskDeadline').val()),
                'status' : $('#DetailTaskStatus').val(),
                'notify' : $('#DetailTaskNotify').val()
            };
            App.mission.send_update_task(task);
        })
        .on('click', '#AddChild', function(){
            let task = {
                'parent_task_id' : tasks.get_selected_task_id(),
                'name' : $('#AddTaskTitle').val(),
                'description' : $('#AddTaskDescription').val(),
                'deadline_at' : date_format2rails($('#AddTaskDeadline').val()),
                'status' : $('#AddTaskStatus').val(),
                'notify' : $('#AddTaskNotify').val()
            };
            App.mission.send_add_task(task);
        })
        .on('click', '#ToParticipate', function () {
            let participant = {
                'task_id' : tasks.get_selected_task_id(),
                'id' : user_id
            };
            App.mission.send_add_task_participant(participant);
        })
        .on('click', '#DeleteTaskParticipate', function () {
            let participant = {
                'task_id' : tasks.get_selected_task_id(),
                'id' : user_id
            };
            App.mission.send_delete_task_participant(participant);
        })
        .on('click','#ConfirmDeleteMissionParticipantModal',function () {
            mission.drawDeleteMissionParticipant();
        })
        .on('click', '#DeleteMissionParticipant', function () {
            let participant = {
                'mission_id' : mission_id,
                'id' : user_id
            };
            App.mission.send_delete_mission_participant(participant);
        })
        <% else %>
        .on('click', '#AddMissionParticipant', function () {
            let participant = {
                'mission_id' : mission_id,
                'id' : user_id
            };
            App.mission.send_add_mission_participant(participant);
        })
    <% end %>
    <% end %>
    ;
</script>
