<div class="main">
  <div class="container">
    <div class="page-header">
      <h2><%= @mission.title %></h2>
    </div>
    <div class="btn-group" role="group" style="margin-bottom: 20px">
      <%= link_to 'タスクを追加', mission_task_new_path(@mission), :class => 'btn btn-default' %>
      <%= link_to 'ミッションを編集', edit_mission_path(@mission), :class => 'btn btn-default' %>
      <%= link_to "ミッションを削除", @mission, method: :delete, data: {confirm: "本当に削除しますか？"}, :class => 'btn btn-default' %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>ミッション概要</span>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= @mission.description %></p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-body tree">
        <div id="chart-container"></div>
      </div>
    </div>
  </div>
</div>

<style>
#chart-container {
  height: 600px;
}

.tree {
  background: #E2E4E6;
}

.orgchart {
  display: block;
  background-image: none;
}

.orgchart .node .title {
  height: 100px;
  padding: 8px;
  white-space: normal;
  font-size: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  color: black;
}
</style>

<script>
$('#chart-container').orgchart({
  'data' : '/api/missions/<%= @mission.id %>/tasks',
  'pan': true,
  'draggable': true
})
.on('touchmove', function(event) {
  event.preventDefault()
})

// var hierarchy = $('#chart-container').orgchart('getHierarchy');
// console.log(JSON.stringify(hierarchy, null, 2))
</script>
