<!DOCTYPE html>
<html lang="ja">
<head>
  <title>🌳 MissionForest</title>
  <%= stylesheet_link_tag 'pc/application', media: 'all' %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= javascript_include_tag 'pc/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
developed by @ya_s_u
-->
  <%= render 'templates/navigation' %>
  <div class="main">
  	<div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render 'templates/notification' %>
</body>
</html>
