<p><%= @resource.name %> さん!</p>
<p>MissionForest パスワード再設定メールです</p>

<p>MissionForestの <%= @resource.name %> さんのアカウントパスワードをリセットするには、以下のリンクをクリックし、新しいパスワードの設定をお願い致します。</p>

<p>URL : <%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<hr>
<p>以下のアカウントのパスワードが再設定されます</p>
<p>アカウント名 : <%= @resource.name %></p>
<p>メールアドレス : <%= @resource.email %></p>

<p>このメールに心当たりがない場合、何も行わずにこのメールを破棄してください。</p>
<p>本メールは配信専用です。ご返信なさらぬようご注意ください。</p>